@model UserViewModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Are you sure to Delete This User</h1>

<div asp-validation-summary="All">
</div>
<form asp-action="Delete">

    <partial name="PArtialView/_PartialViewDeleteDetails" />



    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-secondary">Cancle</a>
</form>